plan_basename: {{name}}
research_profile: not_selected
root_must_answer_set: []
human_decision_checkpoints:
  hitl1:
    status: not_started
  hitl2:
    status: not_started
    answerability_class: not_assessed
    user_decision: not_started
    final_report_view: not_started
