{
  "bundle_name": null,
  "queue_health": "ready",
  "stop_authorization_state": "unauthorized_continue_required",
  "slot_1_current": null,
  "slot_2_next": null,
  "slot_3_pending": null,
  "slot_4_pending": null,
  "slot_5_tail": null,
  "refill_pool": []
}
