{
  "bundle_name": null,
  "queue_health": "ready",
  "stop_authorization_state": "unauthorized_continue_required",
  "slot_1_current": null,
  "slot_2_next": null,
  "slot_3_pending": null,
  "slot_4_pending": null,
  "slot_5_pending": null,
  "slot_6_pending": null,
  "slot_7_pending": null,
  "slot_8_pending": null,
  "slot_9_pending": null,
  "slot_10_pending": null,
  "slot_11_pending": null,
  "slot_12_pending": null,
  "slot_13_pending": null,
  "slot_14_pending": null,
  "slot_15_pending": null,
  "slot_16_pending": null,
  "slot_17_pending": null,
  "slot_18_pending": null,
  "slot_19_pending": null,
  "slot_20_tail": null,
  "refill_pool": []
}
